/* .names {
  display: none;
} */

.formbackground {
background-image: url(../images/wallpaper2.jpg);
font-family: 'Gaegu', cursive;
}
 .player1Disp {
   display: none
 }
 .player2Disp {
   display: none
 }
